<div class="card">
    <div class="card-body">

    <div class="row">
        <div class="col-12">
        <div class="item mb-xl-0 mb-3">
            <span class="icon">
            <i class="fe fe-sliders"></i>
            </span>
            <div class="desc">
            <span class="title" *ngIf="isEdit">Editar grupo </span>
            <span class="title" *ngIf="!isEdit">Crear grupo </span>

            <p class="mb-2" *ngIf="isEdit">{{grupo.nombre}}</p>
            <p class="mb-2" *ngIf="!isEdit">Complete los campos del formulario</p>
            </div>
            <div class="line bg-primary" style="height: 2px;"></div>
        </div>
    </div>


    <div class="row pl-5 pr-5 pt-2bourgon">
        <form nz-form [nzLayout]="'vertical'" [formGroup]="form"  role="form">
            <div class="row">


                <div class="col-md-12">
                    <nz-form-item>
                      <nz-form-label nzFor="nombre" class="m-0 p-0">Nombre grupo</nz-form-label>
                      <nz-form-control nzErrorTip="Este campo es requerido">
                        <input nz-input placeholder="Nombre del parametros" formControlName="nombre" id="nombre" />
                      </nz-form-control>
                    </nz-form-item>
                  </div>
  

                  <div class="col-md-12">
                    <nz-form-item>
                      <nz-form-label nzFor="descripcion" class="m-0 p-0">Descripcion del grupo</nz-form-label>
                      <nz-form-control nzErrorTip="Este campo es requerido">
                        <textarea id="descripcion" nz-input placeholder="Descripcion del grupo" formControlName="descripcion" [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
            

              <div class="col-12 d-flex pt-2">
                <div class="col-6">
    
                    <nz-form-item>
                      <button (click)="guardar()" nz-button nzType="primary"  type="button" [nzLoading]="cargando" class="btn btn-light px-3">
                        Guardar
                      </button>
                    </nz-form-item>
                  </div>

                  <div class="col-6">
    
                    <nz-form-item>
                      <button type="button" nz-button nzType="danger" class="btn btn-danger px-3" (click)="onNoClick(0)">
                        Cancelar
                      </button>
                    </nz-form-item>
                  </div>
              </div>


            </div>
          </form>
    </div>



    </div>
  
  </div>

  </div>