<div class="card">
    <div class="card-body">

    <div class="row">
        <div class="col-12">
        <div class="item mb-xl-0 mb-3">
            <span class="icon">
            <i class="fe fe-users"></i>
            </span>
            <div class="desc">
            <span class="title" *ngIf="isEdit">Editar usuario </span>
            <span class="title" *ngIf="!isEdit">Crear usuario </span>

            <p class="mb-2" *ngIf="isEdit">{{usuario.nombre}} ({{usuario?.identificacion}})</p>
            <p class="mb-2" *ngIf="!isEdit">Complete los campos del formulario</p>
            </div>
            <div class="line bg-primary" style="height: 2px;"></div>
        </div>
    </div>


    <div class="row pl-5 pr-5 pt-2bourgon">
        <form nz-form [nzLayout]="'vertical'" [formGroup]="form"  role="form">
            <div class="row">


                <div class="col-md-6">
                    <nz-form-item>
                      <nz-form-label nzFor="nombre" class="m-0 p-0">Nombre</nz-form-label>
                      <nz-form-control>
                        <input nz-input placeholder="Nombre del usuarios" formControlName="nombre" id="nombre" />
                      </nz-form-control>
                      <show-errors [control]="form.controls.nombre"></show-errors>
                    </nz-form-item>
                  </div>
                  <div class="col-md-6">
                    <nz-form-item>
                      <nz-form-label nzFor="nombrec" class="m-0 p-0">identificación</nz-form-label>
                      <nz-form-control >
                        <input nz-input placeholder="Nombre corto" type="number" formControlName="identificacion" id="identificacion" />
                      </nz-form-control>
                      <show-errors [control]="form.controls.identificacion"></show-errors>
                    </nz-form-item>
                  </div>


              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-label nzFor="correo" class="m-0 p-0">correo</nz-form-label>
                  <nz-form-control >
                    <input nz-input placeholder="correo" type="email" formControlName="correo" id="correo" />
                  </nz-form-control>
                  <show-errors [control]="form.controls.correo"></show-errors>
                </nz-form-item>
              </div>
              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-label nzFor="usuario" class="m-0 p-0">usuario</nz-form-label>
                  <nz-form-control >
                    <input nz-input  placeholder="valor" formControlName="usuario" id="usuario" />
                  </nz-form-control>
                  <show-errors [control]="form.controls.usuario"></show-errors>
                </nz-form-item>
              </div>

              <div class="col-md-6">
                <nz-form-item>
                  <nz-form-label nzFor="celular" class="m-0 p-0">Celular</nz-form-label>
                  <nz-form-control >
                    <input nz-input type="number" placeholder="valor" formControlName="celular" id="celular" />
                  </nz-form-control>
                  <show-errors [control]="form.controls.celular"></show-errors>
                </nz-form-item>
              </div>

            </div>

              <div class="row">
                <div class="col-md-6 " *ngIf="usuario == null">
                  <nz-form-item>
                    <nz-form-label nzFor="fecha" class="m-0 p-0">Contraseña</nz-form-label>
                    <nz-form-control>
                      <input nz-input  placeholder="valor" formControlName="password" type="password" id="password" />
                    </nz-form-control>
                    <show-errors [control]="form.controls.password"></show-errors>
                  </nz-form-item>
                </div>
  
                <div class="col-md-6" *ngIf="usuario == null">
                  <nz-form-item>
                    <nz-form-label nzFor="fecha" class="m-0 p-0">Repetir contraseña</nz-form-label>
                    <nz-form-control>
                      <input nz-input  placeholder="valor" formControlName="confirmPassword" type="password" id="confirmPassword" />
                    </nz-form-control>
                    <show-errors [control]="form.controls.confirmPassword"></show-errors>
                  </nz-form-item>
                </div>
              

           
            

              <div class="col-12 d-flex pt-2">
                <div class="col-6">
    
                    <nz-form-item>
                      <button (click)="save()" nz-button nzType="primary"  type="button" [nzLoading]="cargando" class="btn btn-light px-5">
                        Guardar
                      </button>
                    </nz-form-item>
                  </div>

                  <div class="col-6">
    
                    <nz-form-item>
                      <button type="button" class="btn btn-danger px-5" (click)="onNoClick(0, null)">
                        Cancelar
                      </button>
                    </nz-form-item>
                  </div>
              </div>
           
       



            </div>
          </form>
    </div>



    </div>
  
  </div>

  </div>