<div class="mr-auto pr-3 my-2">
  <i class="fe fe-settings font-size-28 mr-2"></i>
  <div class="text-nowrap d-inline-block font-size-18 text-dark">
    <strong class="text-uppercase font-size-27">Parametros</strong> /
    <a class="font-size-18 text-blue" href="javascript: void(0);">MTB Pelicano</a>
  </div>
</div>
<div class="cui-crypto-dashboard-container">
  <div class="cui-crypto-dashboard-list">
    <div class="cui__utils__heading mb-1">
      <strong>Grupos</strong>
      <button
        [nzTooltipTitle]="'Editar el grupo ' + grupo?.nombre"
        nzTooltipPlacement="top"
        nz-tooltip
        *ngIf="grupo"
        (click)="gruposForm(1)"
        nz-button
        nzType="dashed"
        [nzSize]="size"
        class="mr-2 mb-0 float-right"
      >
        <i class="fe fe-edit-3"></i>
      </button>
      <button
        [nzTooltipTitle]="'Eliminar el grupo ' + grupo?.nombre"
        nzTooltipPlacement="top"
        nz-tooltip
        (click)="eliminarGrupo()"
        *ngIf="grupo"
        nz-button
        nzType="danger"
        [nzSize]="size"
        class="mr-2 mb-0 float-right"
      >
        <i class="fe fe-trash"></i>
      </button>
      <button *ngIf="grupos"
        [nzTooltipTitle]="'Nuevo grupo'"
        (click)="gruposForm(0)"
        nzTooltipPlacement="top"
        nz-tooltip
        nz-button
        nzType="primary"
        [nzSize]="size"
        class="mr-2 mb-0 float-right"
      >
        <i class="fe fe-plus"></i>
      </button>
    </div>

    <nz-input-group class="extInput mb-2" [nzPrefix]="prefixIconSearch">
      <input nz-input [(ngModel)]="gruposSearch" placeholder="Buscar grupos" style="width: 200px" />
    </nz-input-group>
    <ng-template #prefixIconSearch>
      <i nz-icon nzType="search" class="extInputIcon" style="color: rgba(0,0,0,.25)"></i>
    </ng-template>

    <perfect-scrollbar *ngIf="!cargando" style="max-height: 500px;">
      <a
        [ngClass]="{
          'cui-crypto-dashboard-list-item': true,
          selected: grupo?.id == g.id
        }"
        (click)="setGrupo(g)"
        *ngFor="let g of grupos | searchPipe: { nombreGrupo: gruposSearch }"
        href="javascript: void(0);"
        [nzTooltipTitle]="g.descripcion"
        nzTooltipPlacement="right"
        nz-tooltip
      >
        <span class="cui-crypto-dashboard-list-currency" style="position: relative;">
          <span class="text-truncate" style="max-width: 11rem">{{ g.nombre }}</span>
          <span class="d-flex font-weight-light"
            >Parametros <span class="text-success ml-2">{{ g.numeroParametros }}</span>
          </span>
          <i class="icon fe fe-settings text-gray-custom background-icon"></i>
        </span>
      </a>
    </perfect-scrollbar>

    <div class="mb-5" *ngIf="cargando">
      <nz-skeleton-element
        nzType="input"
        class="mb-2"
        [nzActive]="true"
        style="width:200px;"
      ></nz-skeleton-element>
      <nz-skeleton-element
        nzType="input"
        class="mb-2"
        [nzActive]="true"
        style="width:200px;"
      ></nz-skeleton-element>
      <nz-skeleton-element
        nzType="input"
        class="mb-2"
        [nzActive]="true"
        style="width:200px;"
      ></nz-skeleton-element>
      <nz-skeleton-element
        nzType="input"
        class="mb-2"
        [nzActive]="true"
        style="width:200px;"
      ></nz-skeleton-element>
      <nz-skeleton-element
        nzType="input"
        class="mb-2"
        [nzActive]="true"
        style="width:200px;"
      ></nz-skeleton-element>
      <nz-skeleton-element
        nzType="input"
        class="mb-2"
        [nzActive]="true"
        style="width:200px;"
      ></nz-skeleton-element>
      <nz-skeleton-element
        nzType="input"
        class="mb-2"
        [nzActive]="true"
        style="width:200px;"
      ></nz-skeleton-element>
    </div>
  </div>

  <div class="w-100">
    <div class="mb-3 pl-4">
      <nz-alert
        nzType="info"
        nzMessage="Información"
        nzCloseable
        nzDescription="Los parametros están listados por grupo, seleccione un grupo para visualizar los parametros del mismo."
        nzShowIcon
      >
      </nz-alert>
    </div>

    <div class="cui__utils__heading mb-1 pl-4"  *ngIf="grupo">
      <div class="text-nowrap d-inline-block font-size-15 text-dark">
        <strong class="text-uppercase font-size-20">Parametros</strong> /
        <a class="font-size-15 text-blue" href="javascript: void(0);">{{ grupo?.nombre  }}</a>
      </div>

      <div class="w-40 float-right">
        <nz-input-group class="extInput mb-2" [nzPrefix]="prefixIconSearch">
          <input nz-input [(ngModel)]="parametrosSearch" placeholder="Buscar parametros" style="width: 200px" />
        </nz-input-group>
        <ng-template #prefixIconSearch>
          <i nz-icon nzType="search" class="extInputIcon" style="color: rgba(0,0,0,.25)"></i>
        </ng-template>
      </div>


      <nz-switch *ngIf="itemSelected" 
      [(ngModel)]="itemSelected.estado" 
      nzCheckedChildren="Activo" 
      class="mr-2 float-right"
      nzUnCheckedChildren="Inactivo"
      (ngModelChange)="cambiarEstado()"
      [nzDisabled]="cargandoEstado">
      </nz-switch>

      <button *ngIf="itemSelected"
        (click)="parametrosForm(1)"
        [nzTooltipTitle]="'Editar el parametro ' + itemSelected?.nombre"
        nzTooltipPlacement="top"
        nz-tooltip
        nz-button
        nzType="dashed"
        [nzSize]="size"
        class="mr-2 mb-0 float-right"
      >
        <i class="fe fe-edit-3"></i>
      </button>
      <button  *ngIf="itemSelected"
        [nzTooltipTitle]="'Eliminar el parametro ' + itemSelected?.nombre"
        nzTooltipPlacement="top"
        nz-tooltip
        nz-button
        (click)="eliminarParametro()"
        nzType="danger"
        [nzSize]="size"
        class="mr-2 mb-0 float-right"
      >
        <i class="fe fe-trash"></i>
      </button>
      <button *ngIf="grupo && !itemSelected" (click)="parametrosForm(0)"
        [nzTooltipTitle]="'Nuevo parametro'"
        nzTooltipPlacement="top"
        nz-tooltip
        nz-button
        nzType="primary"
        [nzSize]="size"
        class="mr-2 mb-0 float-right"
      >
        <i class="fe fe-plus"></i>
      </button>
    </div>

    <nz-table
      #dynamicTable
      [nzScroll]="fixHeader ? { y: '240px' } : null"
      [nzData]="listOfData"
      [nzBordered]="bordered"
      [nzSimple]="simple"
      [nzLoading]="cargandoTable"
      [nzPaginationPosition]="position"
      [nzShowSizeChanger]="sizeChanger"
      [nzFrontPagination]="pagination"
      [nzShowPagination]="pagination"
      [nzSize]="size"
      (nzCurrentPageDataChange)="currentPageDataChange($event)"
      class="kit__utils__table mb-4 w-100 pl-4"
    >
      <thead>
        <tr *ngIf="header">
          <th nzWidth="50px" nzShowExpand *ngIf="expandable"></th>
          <th nzWidth="62px"></th>

          <th nzWidth="70px">Codigo</th>
          <th nzWidth="260px">Nombre</th>
          <th nzWidth="150px">Nombre corto</th>
          <th nzWidth="70px">Valor</th>
          <th nzWidth="150px">fecha</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="dynamicTable.data | searchPipe: { nombre: parametrosSearch }">
          <tr [ngClass]="{ 'column-selected': data.checked, 'inactive': !data.estado }">
            <td nzShowExpand *ngIf="expandable" [(nzExpand)]="data.expand"></td>
            <td
              nzShowCheckbox
              *ngIf="checkbox"
              [(nzChecked)]="data.checked"
              (nzCheckedChange)="refreshStatus(data)"
            ></td>

            <td>{{ data.codigo }}</td>
            <td>{{ data.nombre }}</td>
            <td>{{ data.nombre_corto }}</td>
            <td>{{ data.valor }}</td>
            <td>{{ data.fecha | date}}</td>
          </tr>
          <tr [nzExpand]="data.expand && expandable">
            <td></td>
            <td [attr.colspan]="checkbox ? 5 : 4">{{ data.description }}</td>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>
  </div>
</div>


