<div class="topbar">
  <div class="mr-4">
    <cui-topbar-fav-pages></cui-topbar-fav-pages>
  </div>
  <div class="mr-auto">

  </div>

  <div class="mr-4 d-none d-sm-block">
  </div>
  <div>
    <cui-topbar-user-menu></cui-topbar-user-menu>
  </div>
</div>