<div class="card">
    <div class="card-body">

    <div class="row">
        <div class="col-12 mb-2">
        <div class="item mb-xl-0 mb-3">
            <span class="icon">
            <i class="fe fe-dollar-sign"></i>
            </span>
            <div class="desc">
            <span class="title">Administrar pagos </span>
          
            <p class="mb-2" >Administre los pagos del usuario {{usuario?.nombre}} ({{usuario?.identificacion}})</p>
            </div>
            <div class="line bg-primary" style="height: 2px;"></div>
        </div>
    </div>


    <div class="row pl-5 pr-5 pt-2bourgon">

      <div class="cui__utils__heading mb-1 pl-4 w-100">
        <!--   <div class="text-nowrap d-inline-block font-size-15 text-dark">
            <strong class="text-uppercase font-size-20">Usuarios</strong> /
            <a class="font-size-15 text-blue" href="javascript: void(0);">sss</a>
          </div> -->
    
    
    
          <div class="w-40 float-right">
            <nz-input-group class="extInput mb-2" [nzPrefix]="prefixIconSearch">
              <input nz-input [(ngModel)]="pagoSearch" placeholder="Buscar pagos" style="width: 200px" />
            </nz-input-group>
            <ng-template #prefixIconSearch>
              <i nz-icon nzType="search" class="extInputIcon" style="color: rgba(0,0,0,.25)"></i>
            </ng-template>
          </div>
    
    
    
          <button *ngIf="itemSelected"
            (click)="usuariosForm(1)"
            [nzTooltipTitle]="'Editar el pago ' + itemSelected?.referencia"
            nzTooltipPlacement="top"
            nz-tooltip
            nz-button
            nzType="dashed"
            [nzSize]="size"
            class="mr-2 mb-0 float-right"
          >
            <i class="fe fe-edit-3"></i>
          </button>
          <button  *ngIf="itemSelected"
            [nzTooltipTitle]="'Eliminar el pago ' + itemSelected?.referencia"
            nzTooltipPlacement="top"
            nz-tooltip
            nz-button
            (click)="eliminarPago(itemSelected?.id)"
            nzType="danger"
            [nzSize]="size"
            class="mr-2 mb-0 float-right"
          >
            <i class="fe fe-trash"></i>
          </button>
    
    
  
    
        <button *ngIf="!itemSelected" (click)="pagosForm(0)"
        [nzTooltipTitle]="'Agregar nuevo pago'"
        nzTooltipPlacement="top"
        nz-tooltip
        nz-button
        nzType="primary"
        [nzSize]="size"
        class="mr-2 mb-0 float-right"
      >
        <i class="fe fe-plus"></i>
      </button>
    
    
    
        </div>


      <nz-table
      #dynamicTable
      [nzScroll]="fixHeader ? { y: '240px' } : null"
      [nzData]="listOfData"
      [nzBordered]="bordered"
      [nzSimple]="simple"
      [nzLoading]="cargandoTable"
      [nzPaginationPosition]="position"
      [nzShowSizeChanger]="sizeChanger"
      [nzFrontPagination]="pagination"
      [nzShowPagination]="pagination"
      [nzSize]="size"
      (nzCurrentPageDataChange)="currentPageDataChange($event)"
      class="kit__utils__table mb-4 w-100 pl-4"
    >
      <thead>
        <tr *ngIf="header">
          <th nzWidth="50px" nzShowExpand *ngIf="expandable"></th>
          <th nzWidth="62px"></th>

          <th nzWidth="70px">Fecha</th>
          <th nzWidth="260px">Medio de pago</th>
          <th nzWidth="150px">Referencia</th>
          <th nzWidth="150px">Soporte</th>

        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="dynamicTable.data | searchPipe: { referencia: pagoSearch }">
          <tr [ngClass]="{ 'column-selected': data.checked }">
            <td nzShowExpand *ngIf="expandable" [(nzExpand)]="data.expand"></td>
            <td
              nzShowCheckbox
              *ngIf="checkbox"
              [(nzChecked)]="data.checked"
              (nzCheckedChange)="refreshStatus(data)"
            ></td>

            <td>{{ data.fecha | date }}</td>
            <td>{{ data.nombre }}</td>
            <td>{{ data.referencia }}</td>
            <td class="d-flex"> 


              <input style="display: none" type="file" (change)="subirSoporte($event, data.id)" #hiddenfileinput>

              <button style="width: 32px; height: 32px; margin-right: .5rem;"
              (click)="hiddenfileinput.click()"
              [nzTooltipTitle]="'Subir archivo de '+ data.referencia"
              nzTooltipPlacement="top"
              nz-tooltip
              nz-button
            >
              <i class="fe fe-upload"></i>
            </button>


            <button style="width: 32px; height: 32px;" *ngIf="data?.soporte?.length"
            [nzTooltipTitle]="'Ver archivo '+ data.soporte"
            nzTooltipPlacement="top"
            nz-tooltip
            (click)="descargarSoporte(data.soporte)"
            nz-button
            nzType="primary"
            nzType="dashed"
            [nzSize]="size"
            class="mr-2 mb-0 float-right"
          >
          <i nz-icon nzType="eye" nzTheme="outline"></i>
          </button>


            </td>
  
          </tr>
          <tr [nzExpand]="data.expand && expandable">
            <td></td>
            <td [attr.colspan]="checkbox ? 5 : 4">{{ data.referencia }}</td>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>


    </div>




    </div>
  
  </div>

  </div>