<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <div class="item mb-xl-0 mb-3">
          <span class="icon">
            <i class="fe fe-credit-card"></i>
          </span>
          <div class="desc">
            <span class="title" *ngIf="isEdit">Editar pago </span>
            <span class="title" *ngIf="!isEdit">Crear pago </span>
            <p class="mb-2">Complete los campos del formulario</p>
          </div>
          <div class="line bg-primary" style="height: 2px;"></div>
        </div>
      </div>
      <div class="row pl-5 pr-5 pt-2bourgon">
        <form nz-form [nzLayout]="'vertical'" [formGroup]="form" role="form">
          <div class="row">
            <div class="col-md-6">
              <nz-form-item>
                <nz-form-label nzFor="referencia" class="m-0 p-0">Referencia de pago</nz-form-label>
                <nz-form-control>
                  <input nz-input placeholder="Referencia del pago" formControlName="referencia" id="referencia" />
                </nz-form-control>
                <show-errors [control]="form.controls.referencia"></show-errors>
              </nz-form-item>
            </div>
            <div class="col-md-6">
              <nz-form-item class="m-0">
                <nz-form-label class="p-0">Medio de pago</nz-form-label>
                <nz-form-control class="m-0" nzErrorTip="Este campo es requerido" nzHasFeedback>
                  <nz-select nzShowSearch nzAllowClear name="tipo" formControlName="tipo">
                    <nz-option *ngFor="let t of tipos" [nzValue]="t.id" nzLabel="{{t.nombre}}"></nz-option>
                  </nz-select>
                </nz-form-control>
                <show-errors [control]="form.controls.tipo"></show-errors>
              </nz-form-item>
            </div>
            <div class="col-md-6">
              <nz-form-item class="m-0">
                <nz-form-label class="p-0">Seleccione fecha de pago</nz-form-label>
                <nz-form-control class="m-0" nzHasFeedback>
                  <nz-date-picker nzPlaceHolder="Seleccionar la fecha de pago" formControlName="fecha" class="w-100">
                  </nz-date-picker>
                </nz-form-control>
                <show-errors [control]="form.controls.fecha"></show-errors>
              </nz-form-item>
            </div>
            <div class="col-12 d-flex pt-2">
              <div class="col-6">
                <nz-form-item>
                  <button (click)="save()" nz-button nzType="primary" type="button" [nzLoading]="cargando"
                    class="btn btn-light px-5">
                    Guardar
                  </button>
                </nz-form-item>
              </div>
              <div class="col-6">
                <nz-form-item>
                  <button type="button" class="btn btn-danger px-5" (click)="onNoClick(0, null)">
                    Cancelar
                  </button>
                </nz-form-item>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>