<div>

  <div class="row">
    <div class="mt-5 w-100" style="display: -webkit-inline-box;" >

    <div class="col-7">
      <div class="text-center mb-5">

        <div class="mt-4">
         <img class="img404" src="../../../../../../assets/images/logo.png">
        </div>
      </div>
    </div>

    <div class="col-5 custom-container" style="margin-top: 5rem;">
      <div class="text-dark font-size-24 mb-3">
        <strong class="dark-gray">Ingresa con tu cuenta</strong>
      </div>

      <div class="mb-4">

      </div>
      <form nz-form [nzLayout]="'vertical'" [formGroup]="form" (ngSubmit)="submitForm()" role="form">

        <nz-form-item>
          <nz-form-control nzErrorTip="Por favor ingrese su usuario!">
            <input type="text" nz-input formControlName="userName" nzSize="large" placeholder="Ingrese su usuario" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzErrorTip="Por favor ingrese su contraseña!">
            <input type="password" nz-input nzSize="large" formControlName="password" placeholder="Contraseña" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary" [nzSize]="'large'" [nzLoading]="cargando" class="text-center w-100">
              <strong>Ingresar</strong>
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
      <a routerLink="/auth/forgot-password" class="kit__utils__link font-size-16">
        ¿Olvidaste la contraseña?
      </a>

  </div>


  </div>

  </div>


<!--   <div class="text-center pt-2 mb-auto">
    <span class="mr-2">Don't have an account?</span>
    <a routerLink="/auth/register" class="kit__utils__link font-size-16">
      Sign up
    </a>
  </div> -->
</div>