<div class="cui__utils__heading mb-3">
  <strong class="text-uppercase font-size-16">Estadisticas del sistema</strong>
</div>
<div class="row">
  <div class="col-xl-4">

    <div class="card bg-light border-0 mb-0" style="border-left: 8px solid #56bd2d !important;">
      <div class="card-body">
        <div class="text-dark font-weight-bold">
          <div class="font-size-21 mb-2 text-uppercase">Usuarios</div>
          <div class="d-flex align-items-end flex-wrap">
            <div class="pr-3 mr-auto">
              <i nz-icon nzType="cluster" nzTheme="outline" class="font-size-48 text-gray-5"></i>

              <!-- <i class="fe fe-server "></i> -->
            </div>
            <div>
              
            <div class="font-size-20 mb-n2 text-gray-5"> Total / activos</div>
            <div class="font-size-36 mb-n2"> <span class="text-primary">0</span> / <span >0</span> </div>
            </div>

          </div>
        </div>

        </div>
    </div>


<!-- 
    <div class="card">
      <div class="card-body position-relative overflow-hidden d-flex">
      
        <div>
          <i nz-icon nzType="cluster" nzTheme="outline"  style="font-size: 3rem;"></i>
          <div class="text-uppercase">Equipos</div>
        </div>
      
        <div class="chartContainer  w-100">

          <div class="row text-center">

            <div class="col-6">
              <div class="font-size-20 font-weight-bold text-gray mb-n2">Disponibles</div>
              <h4 class="mt-2 text-gray">{{estadisticas?.equipos}}</h4>
            </div>

            <div class="col-6">
              <div class="font-size-20 font-weight-bold text-gray mb-n2">Activos</div>
              <h4 class="mt-2 text-gray">{{estadisticas?.activos}}</h4>

            </div>


          </div>
        </div>

      </div>
    </div> -->
  </div>
  <div class="col-xl-4">


    
    <div class="card bg-light border-0 mb-0" style="border-left: 8px solid #56bd2d  !important;">
      <div class="card-body">
        <div class="text-dark font-weight-bold">
          <div class="font-size-21 mb-2 text-uppercase">Pagos</div>
          <div class="d-flex align-items-end flex-wrap">
            <div class="pr-3 mr-auto">
              <i nz-icon nzType="reconciliation" nzTheme="outline" class="font-size-48 text-gray-5"></i>

              <!-- <i class="fe fe-server "></i> -->
            </div>
            <div>
              
            <div class="font-size-20 mb-n2 text-gray-5"> Total / Activos</div>
            <div class="font-size-36 mb-n2"> <span class="text-primary">0</span> / <span >0</span> </div>
            </div>

          </div>
        </div>

        </div>
    </div>




  </div>
  <div class="col-xl-4">


    
    <div class="card bg-light border-0 mb-0" style="border-left: 8px solid #56bd2d !important;">
      <div class="card-body">
        <div class="text-dark font-weight-bold">
          <div class="font-size-21 mb-2 text-uppercase">Recaudado</div>
          <div class="d-flex align-items-end flex-wrap">
            <div class="pr-3 mr-auto">
              <i nz-icon nzType="shopping-cart" nzTheme="outline" class="font-size-48 text-gray-5"></i>              

              <!-- <i class="fe fe-server "></i> -->
            </div>
            <div>
              
            <div class="font-size-20 mb-n2 text-gray-5"> Total </div>
            <div class="font-size-36 mb-n2"> <span style="color: rgb(61, 97, 138);">0</span> </div>
            </div>

          </div>
        </div>

        </div>
    </div>




  
  </div>
</div>





