/* You can add global styles to this file, and also import other style files */
@import 'app/components/kit/vendors/antd/style';
@import 'app/components/kit/vendors/bootstrap/style';
@import 'app/components/kit/vendors/nprogress/style';
@import 'app/components/kit/vendors/chartist/style';
@import 'app/components/kit/vendors/chartist-tooltip-plugin/style';
@import 'app/components/kit/vendors/perfect-scrollbar/style';
@import 'app/components/kit/vendors/nestable/style';
@import 'app/components/kit/vendors/quill/style';

@import 'app/components/kit/core/style'; // Clean UI KIT core styles
@import 'app/components/cleanui/styles/style'; // Clean UI styles

/* .cdk-overlay-container {
    background: #00000085;
} */

.cdk-overlay-backdrop .cdk-overlay-dark-backdrop .cdk-overlay-backdrop-showing {
  background: #00000085 !important;
  opacity: 1 !important;
}

@import '../node_modules/angular-calendar/css/angular-calendar.css';
@import '~@angular/material/dialog/_dialog-theme.scss';
@import '~@angular/material/button/_button-theme.scss';
@import '~@angular/material/button/_button-base.scss';
@import '~@angular/material/select/_select-theme.scss';
@import '~@angular/cdk/overlay-prebuilt.css';

.dark {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

[data-kit-theme='default'] .ant-tabs-nav .ant-tabs-tab-active {
  color: #56bd2d;
  background: #e2e3fb;
  font-weight: 500;
  padding-left: 1rem;
  outline: none;
  padding-right: 1rem;
}

[data-kit-theme='default'] .ant-tabs-nav-scroll {
  overflow: hidden;
  white-space: nowrap;
  background: #e2e3fb4f;
}

.cal-month-view .cal-open-day-events {
  color: gray !important;
  background-color: #ededed !important;
  box-shadow: none !important;
}

.cal-month-view .cal-open-day-events .cal-event {
  position: relative;
  top: 2px;
  border-radius: 0 !important;
}

// SPINNER SK CUBE
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #56bd2d;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

.centrado-porcentual {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
