<div class="card">
    <div class="card-body">

    <div class="row">
        <div class="col-12">
        <div class="item mb-xl-0 mb-3">
            <span class="icon">
            <i class="fe fe-sliders"></i>
            </span>
            <div class="desc">
            <span class="title" *ngIf="isEdit">Editar parametro </span>
            <span class="title" *ngIf="!isEdit">Crear parametro </span>

            <p class="mb-2" *ngIf="isEdit">{{parametro.nombre}} ({{grupo?.nombre}})</p>
            <p class="mb-2" *ngIf="!isEdit">Complete los campos del formulario</p>
            </div>
            <div class="line bg-primary" style="height: 2px;"></div>
        </div>
    </div>


    <div class="row pl-5 pr-5 pt-2bourgon">
        <form nz-form [nzLayout]="'vertical'" [formGroup]="form"  role="form">
            <div class="row">


                <div class="col-md-6">
                    <nz-form-item>
                      <nz-form-label nzFor="nombre" class="m-0 p-0">Nombre</nz-form-label>
                      <nz-form-control nzErrorTip="Este campo es requerido">
                        <input nz-input placeholder="Nombre del parametros" formControlName="nombre" id="nombre" />
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div class="col-md-4">
                    <nz-form-item>
                      <nz-form-label nzFor="nombrec" class="m-0 p-0">Nombre corto</nz-form-label>
                      <nz-form-control nzErrorTip="Este campo es requerido">
                        <input nz-input placeholder="Nombre corto" formControlName="nombre_corto" id="nombrec" />
                      </nz-form-control>
                    </nz-form-item>
                  </div>


              <div class="col-md-2">
                <nz-form-item>
                  <nz-form-label nzFor="codigo" class="m-0 p-0">codigo</nz-form-label>
                  <nz-form-control  nzErrorTip="Este campo es requerido">
                    <input nz-input placeholder="codigo" formControlName="codigo" id="codigo" />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="col-md-5">
                <nz-form-item>
                  <nz-form-label nzFor="valor" class="m-0 p-0">valor</nz-form-label>
                  <nz-form-control >
                    <input nz-input [type]="'number'" placeholder="valor" formControlName="valor" id="valor" />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="col-md-5">
                <nz-form-item>
                  <nz-form-label nzFor="fecha" class="m-0 p-0">fecha</nz-form-label>
                  <nz-form-control>
                          <nz-date-picker nzPlaceHolder="Seleccionar fecha" formControlName="fecha" id="fecha"></nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
              </div>
            

              <div class="col-12 d-flex pt-2">
                <div class="col-6">
    
                    <nz-form-item>
                      <button (click)="guardar()" nz-button nzType="primary"  type="button" [nzLoading]="cargando" class="btn btn-light px-5">
                        Guardar
                      </button>
                    </nz-form-item>
                  </div>

                  <div class="col-6">
    
                    <nz-form-item>
                      <button type="button" class="btn btn-danger px-5" (click)="onNoClick(0, null)">
                        Cancelar
                      </button>
                    </nz-form-item>
                  </div>
              </div>
           
       



            </div>
          </form>
    </div>



    </div>
  
  </div>

  </div>